<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>46491538923-vvo0js7phn744vkqkfum1cl9k77all19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.46491538923-vvo0js7phn744vkqkfum1cl9k77all19</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>46491538923-56633rlndqal02ne02prhf45jl8ocunk.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCILcToh41B5cY7K0IwMe_ZdVAHdwuIxek</string>
	<key>GCM_SENDER_ID</key>
	<string>46491538923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>co.in.sportistan.sportistan</string>
	<key>PROJECT_ID</key>
	<string>wearesportistan</string>
	<key>STORAGE_BUCKET</key>
	<string>wearesportistan.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:46491538923:ios:e796953049ad25e0e775ae</string>
</dict>
</plist>